/.bundle
/.env*
/app/assets/builds/*
!/app/assets/builds/.keep
/config/master.key
/coverage
/log/*
!/log/.keep
/node_modules
/public/assets
/spec/examples.txt
/storage/*
!/storage/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
